#navbar {
  border-width: thick;
  height: 250px;
  border-style: solid;
  border-color: black;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/9c/44/56/9c4456e6ae88c4724c731c453fe30847.gif");
}

#image{
  float: left;
  border-style: solid;
  border-color: transparent;
  border-width: thick;
}

#background{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/9c/44/56/9c4456e6ae88c4724c731c453fe30847.gif");
}

#instafeed{
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/9c/44/56/9c4456e6ae88c4724c731c453fe30847.gif");
}

body{
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/9c/44/56/9c4456e6ae88c4724c731c453fe30847.gif");
}
