#navbar {
  border-width: thick;
  height: 250px;
  border-style: solid;
  border-color: black;
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/9c/44/56/9c4456e6ae88c4724c731c453fe30847.gif");
}

#background {
  background-image: url("https://s-media-cache-ak0.pinimg.com/originals/9c/44/56/9c4456e6ae88c4724c731c453fe30847.gif");
  height: inherit;
}
